sqlalchemy==2.0.40
python-dotenv==1.1.0
requests==2.32.3
redis==5.2.1
geoip2==5.0.1
titanic-pp-py==0.0.7
sendgrid==6.11.0
boto3-type-annotations-with-docs==0.3.1
boto3<2
psycopg2-binary==2.9.10
fastapi==0.115.12
uvicorn==0.34.1
bcrypt==4.3.0
python-multipart==0.0.20
pillow==11.2.1
email-validator==2.2.0
pyjwt==2.10.1
regex==2024.11.6