sqlalchemy==2.0.43
python-dotenv==1.1.1
requests==2.32.5
redis==6.4.0
geoip2==5.1.0
rosu-pp-py==3.1.0
sendgrid==6.12.5
boto3-type-annotations-with-docs==0.3.1
boto3<2
psycopg2-binary==2.9.10
fastapi==0.116.2
uvicorn==0.35.0
bcrypt==4.3.0
python-multipart==0.0.20
pillow==11.3.0
email-validator==2.3.0
pyjwt==2.10.1
regex==2025.9.18
websockets==15.0.1