sqlalchemy==2.0.48
requests==2.33.1
redis==7.4.0
geoip2==5.2.0
rosu-pp-py==3.1.0
sendgrid==6.12.5
boto3<2
psycopg2-binary==2.9.11
fastapi==0.135.3
uvicorn==0.42.0
bcrypt==5.0.0
python-multipart==0.0.24
pillow==12.2.0
email-validator==2.3.0
pyjwt==2.12.1
regex==2026.3.32
websockets==16.0
orjson==3.11.8
pydantic-settings==2.13.1
zipstream-ng==1.9.0